# Flutter & Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Secrets and API keys
*.env
*.key
*.jks
*.keystore
key.properties
google-services.json
android/key.properties
ios/Runner/GoogleService-Info.plist

# IDE stuff
.idea/
.vscode/
*.iml

# Misc
*.log
*.lock
